<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJ-Ix5en4sk8T0-ObK-3NOwSTPRbFCC6U</string>
	<key>GCM_SENDER_ID</key>
	<string>762758227877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>syulhan.learning.Case4-MobileAppPushNotif</string>
	<key>PROJECT_ID</key>
	<string>case4-mobileapppushnotif</string>
	<key>STORAGE_BUCKET</key>
	<string>case4-mobileapppushnotif.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762758227877:ios:9f9e20cd0e8e115cbe6a4c</string>
</dict>
</plist>